In [3]:
#importing the dataset
import pymongo

In [4]:
#giving the hostname with ip address
#client connection to mongodb
client=pymongo.MongoClient('mongodb://127.0.0.1:27017/')

In [5]:
#initialising client
mydb=client['employee']

In [56]:
#creating a collection
#collection= Table
information=mydb.employeeinformation

In [5]:
#creating one document 
#one doc= one record
record={'name':'sheshank','age':23,'location':'hyderabad','company':'capgemini'}

In [6]:
#inserting the document into the collection
information.insert_one(record)

In [7]:
#creating multiple document 
record=([{'name':'aditya','age':22,'location':'bangalore','company':'cognizant'},
{'name':'sampreeth','age':25,'location':'mumbai','company':'google'},
{'name':'naresh','age':26,'location':'vizag','company':'microsoft'},
{'name':'uday','age':28,'location':'pune','company':'amazon'}])

In [8]:
#inserting the documents into the collection
information.insert_many(record)

In [22]:
record=([{'name':'aditya','age':25,'location':'delhi','company':'cognizant'},
{'name':'sampreeth','age':21,'location':'kerla','company':'TechM'},
{'name':'naresh','age':29,'location':'kashmir','company':'dominos'},
{'name':'uday','age':28,'location':'kochi','company':'dehradun'}])

In [23]:
#inserting the documents into the collection
information.insert_many(record)

In [14]:
#finding the first document from the collection
#similar to select first record from information table
information.find_one()

{'_id': ObjectId('5eb573b89251a4a7f7e5d653'),
 'name': 'sheshank',
 'age': 23,
 'location': 'hyderabad',
 'company': 'capgemini'}

In [32]:
#finding the all documents from the collection
#similar to select * from information table
for i in information.find():
    print(i)

{'_id': ObjectId('5eb573b89251a4a7f7e5d653'), 'name': 'sheshank', 'age': 23, 'location': 'hyderabad', 'company': 'capgemini'}
{'_id': ObjectId('5eb574b29251a4a7f7e5d654'), 'name': 'aditya', 'age': 22, 'location': 'bangalore', 'company': 'cognizant'}
{'_id': ObjectId('5eb574b29251a4a7f7e5d655'), 'name': 'sampreeth', 'age': 25, 'location': 'mumbai', 'company': 'google'}
{'_id': ObjectId('5eb574b29251a4a7f7e5d656'), 'name': 'naresh', 'age': 26, 'location': 'vizag', 'company': 'microsoft'}
{'_id': ObjectId('5eb574b29251a4a7f7e5d657'), 'name': 'uday', 'age': 28, 'location': 'pune', 'company': 'amazon'}
{'_id': ObjectId('5eb8f70d327f825cdd4454b0'), 'name': 'sheshank', 'age': 23, 'location': 'hyderabad', 'company': 'capgemini'}
{'_id': ObjectId('5eb8f70d327f825cdd4454b1'), 'name': 'aditya', 'age': 22, 'location': 'bangalore', 'company': 'cognizant'}
{'_id': ObjectId('5eb8f70d327f825cdd4454b2'), 'name': 'sampreeth', 'age': 25, 'location': 'mumbai', 'company': 'google'}
{'_id': ObjectId('5eb8f70d327f825cdd4454b3'), 'name': 'naresh', 'age': 26, 'location': 'vizag', 'company': 'microsoft'}
{'_id': ObjectId('5eb8f70d327f825cdd4454b4'), 'name': 'uday', 'age': 28, 'location': 'pune', 'company': 'amazon'}
{'_id': ObjectId('5eb907a2327f825cdd4454b5'), 'name': 'aditya', 'age': 25, 'location': 'delhi', 'company': 'cognizant'}
{'_id': ObjectId('5eb907a2327f825cdd4454b6'), 'name': 'sampreeth', 'age': 21, 'location': 'kerla', 'company': 'TechM'}
{'_id': ObjectId('5eb907a2327f825cdd4454b7'), 'name': 'naresh', 'age': 29, 'location': 'kashmir', 'company': 'dominos'}
{'_id': ObjectId('5eb907a2327f825cdd4454b8'), 'name': 'uday', 'age': 28, 'location': 'kochi', 'company': 'dehradun'}

In [21]:
#finding a specific documents from the collection whre name is of multiple members
#here we are filtering the information collection using two names
#similar to select * from information where name=aditya or naresh
for i in information.find({"name":{'$in':["aditya","naresh"]}}):
    print(i)

{'_id': ObjectId('5eb574b29251a4a7f7e5d654'), 'name': 'aditya', 'age': 22, 'location': 'bangalore', 'company': 'cognizant'}
{'_id': ObjectId('5eb574b29251a4a7f7e5d656'), 'name': 'naresh', 'age': 26, 'location': 'vizag', 'company': 'microsoft'}
{'_id': ObjectId('5eb8f70d327f825cdd4454b1'), 'name': 'aditya', 'age': 22, 'location': 'bangalore', 'company': 'cognizant'}
{'_id': ObjectId('5eb8f70d327f825cdd4454b3'), 'name': 'naresh', 'age': 26, 'location': 'vizag', 'company': 'microsoft'}

In [35]:
#finding a specific documents from the collection whre location is of multiple values
#here we are filtering the information collection using two locations
#similar to select * from information where name=bangalore or vizag
#$in is an or operation where it tries to find the doc with location bangalore or vizag
for i in information.find({"location":{'$in':["bangalore","vizag"]}}):
    print(i)

{'_id': ObjectId('5eb574b29251a4a7f7e5d654'), 'name': 'aditya', 'age': 22, 'location': 'bangalore', 'company': 'cognizant'}
{'_id': ObjectId('5eb574b29251a4a7f7e5d656'), 'name': 'naresh', 'age': 26, 'location': 'vizag', 'company': 'microsoft'}
{'_id': ObjectId('5eb8f70d327f825cdd4454b1'), 'name': 'aditya', 'age': 22, 'location': 'bangalore', 'company': 'cognizant'}
{'_id': ObjectId('5eb8f70d327f825cdd4454b3'), 'name': 'naresh', 'age': 26, 'location': 'vizag', 'company': 'microsoft'}

In [36]:
#here we are trying to extract a doc with name "aditya" and age is less than 26
for i in information.find({"name":"aditya",'age':{'$lt':26}}):
    print(i)

{'_id': ObjectId('5eb574b29251a4a7f7e5d654'), 'name': 'aditya', 'age': 22, 'location': 'bangalore', 'company': 'cognizant'}
{'_id': ObjectId('5eb8f70d327f825cdd4454b1'), 'name': 'aditya', 'age': 22, 'location': 'bangalore', 'company': 'cognizant'}
{'_id': ObjectId('5eb907a2327f825cdd4454b5'), 'name': 'aditya', 'age': 25, 'location': 'delhi', 'company': 'cognizant'}

In [44]:
#we are extrating a doc with name as zameer or a doc whose age is less than 26
for i in information.find({"$or":[{"name":"zameer"},{'age':{'$lt':26}}]}):
    print(i)

{'_id': ObjectId('5eb573b89251a4a7f7e5d653'), 'name': 'sheshank', 'age': 23, 'location': 'hyderabad', 'company': 'capgemini'}
{'_id': ObjectId('5eb574b29251a4a7f7e5d654'), 'name': 'aditya', 'age': 22, 'location': 'bangalore', 'company': 'cognizant'}
{'_id': ObjectId('5eb574b29251a4a7f7e5d655'), 'name': 'sampreeth', 'age': 25, 'location': 'mumbai', 'company': 'google'}
{'_id': ObjectId('5eb8f70d327f825cdd4454b0'), 'name': 'sheshank', 'age': 23, 'location': 'hyderabad', 'company': 'capgemini'}
{'_id': ObjectId('5eb8f70d327f825cdd4454b1'), 'name': 'aditya', 'age': 22, 'location': 'bangalore', 'company': 'cognizant'}
{'_id': ObjectId('5eb8f70d327f825cdd4454b2'), 'name': 'sampreeth', 'age': 25, 'location': 'mumbai', 'company': 'google'}
{'_id': ObjectId('5eb907a2327f825cdd4454b5'), 'name': 'aditya', 'age': 25, 'location': 'delhi', 'company': 'cognizant'}
{'_id': ObjectId('5eb907a2327f825cdd4454b6'), 'name': 'sampreeth', 'age': 21, 'location': 'kerla', 'company': 'TechM'}

In [45]:
#we are extrating a doc with name as zameer or a doc whose age is less than 26
#since we dont have any record in the name of zameer this wont print anything

for i in information.find({"$and":[{"name":"zameer"},{'age':{'$lt':26}}]}):
    print(i)

In [6]:
#creating a new collection
inventory=mydb.inventory

In [50]:
#creating nested doc where one catogory of a doc consists of multiple category values
new_record=[{"item":'book','quantity':7,"size":{"h":10,"w":12,"uom":'cm'},"poe":10,"total":70},
            {"item":'pencil','quantity':17,"size":{"h":10,"w":1,"uom":'mm'},"poe":5,"total":85},
            {"item":'postcard','quantity':13,"size":{"h":10,"w":15,"uom":'m'},"poe":12,"total":156},
             {"item":'bat','quantity':11,"size":{"h":100,"w":35,"uom":'cm'},"poe":1000,"total":1110}]
inventory.insert_many(new_record)

In [52]:
for i in inventory.find({"size":{"h":10,"w":1,"uom":'mm'}}):
    print(i)

{'_id': ObjectId('5eb90e5f327f825cdd4454ba'), 'item': 'pencil', 'quantity': 17, 'size': {'h': 10, 'w': 1, 'uom': 'mm'}, 'poe': 5, 'total': 85}

In [58]:
new_record=[{"item":'mobile','quantity':22,"size":{"h":19,"w":11,"uom":'cm'},"poe":10,"total":220},
            {"item":'laptop','quantity':5,"size":{"h":50,"w":40,"uom":'mm'},"poe":50,"total":250},
            {"item":'telivision','quantity':13,"size":{"h":100,"w":70,"uom":'cm'},"poe":120,"total":1560},
             {"item":'powerbank','quantity':11,"size":{"h":10,"w":3,"uom":'cm'},"poe":100,"total":1110}]

In [59]:
inventory.insert_many(new_record)

In [61]:
#here we are updating the values 
#we are updating a record where item is mobile and in it we are changing the nested doc values
#we are changing the uom size to "m" and "poe" to 20
inventory.update_one({"item":"mobile"},{"$set":{"size.oum":'m',"poe":20}})

In [62]:
#here we are updating the values 
#we are updating a record where item is telivision and in it we are changing the nested doc values
#we are changing the h size to 70 and "poe" to 200
#we also added on more field which is the current modified data and time
inventory.update_one({"item":"telivision"},{"$set":{"size.h":70,"poe":200},"$currentDate":{"lastmodified":True}})

In [64]:
inventory.update_one({"item":all},"$currentDate":{"lastmodified":True})

SyntaxError: invalid syntax (<ipython-input-64-ea003b6296e2>, line 1)

In [67]:
inventory.update_many({"poe":{"$lt":200}},{"$set":{"size.h":50,"poe":20},"$currentDate":{"lastmodified":True}})

In [ ]:
pipeline={}